{% extends "base.html" %}
{% block title %}Plans{% endblock %}

{% block content %}
<h2 class="heading">All OTT Plans</h2>

<div class="plan-container">
    {% for p in plans %}
    <div class="card">
        <img src="{{ url_for('static', filename='images/' + p.logo) }}" class="plan-logo">
        <h3>{{ p.name }}</h3>
        <p>{{ p.desc }}</p>
        <p class="price">₹{{ p.price }}</p>
        <a href="/plan/{{ p.id }}" class="btn">Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
