{% extends "base.html" %}
{% block title %}Home — OTT Store{% endblock %}

{% block content %}
<h2 class="page-heading">Trending OTT Plans</h2>

<div class="plan-grid">
    {% for p in plans %}
    <div class="plan-card">
        <img src="{{ url_for('static', filename=p.logo) }}" class="plan-logo">

        <h3>{{ p.name }}</h3>
        <p>{{ p.desc }}</p>
        <p class="price">₹{{ p.price }}</p>

        <div class="btn-group">
            <a href="{{ url_for('plan_details', plan_id=p.id) }}" class="btn-outline">Details</a>
            <a href="{{ url_for('add_to_cart', plan_id=p.id) }}" class="btn-primary">Add to Cart</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
