{% extends "base.html" %}

{% block title %}All Plans{% endblock %}

{% block content %}
<h1 class="page-title">All OTT Plans</h1>

<div class="plans-grid">
{% for p in plans %}
    <div class="card">
        <img src="{{ url_for('static', filename='img/' + p.logo) }}" class="logo-img">
        <h3>{{ p.name }}</h3>
        <p>{{ p.desc }}</p>
        <p><b>₹{{ p.price }}</b></p>
        <p class="stock">Available: {{ p.stock }}</p>
        <a class="btn" href="{{ url_for('plan_details', plan_id=p.id) }}">Details</a>
    </div>
{% endfor %}
</div>
{% endblock %}
